/* width */
::-webkit-scrollbar {
  width: 8px;
  /* border-radius: 50%; */
}

/* Track */
::-webkit-scrollbar-track {
  /* border-radius: 20%; */
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* border-radius: 20%; */
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* add root colors */
:root {
  --primary: #0099ff;
  --secondary: #e54b2d;
}